p {
background-color: #D44720;
max-width: 100ch;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 1em;
overflow: hidden;
text-overflow: ellipsis;
white-space: wrap;
background: #D44720;
border-left: 6px solid;
border-right: 6px solid;
border-top: 6px solid;
border-bottom: 6px solid;
border-color: #E9A752;
border-radius: 15px;
margin: 10px 5px;
}
